/* Layout */

body { max-width: 718px; min-width: 296px; margin: 24px; }
body > nav { float: left; width: 120px; margin-top: 24px; }
body > main { max-width: 540px; padding: 1px 0 48px 48px; margin: 0 24px 24px 180px; }

body > footer { border-top: 1px solid transparent; }
blockquote { padding-left: 23px; border-left: 1px solid transparent; }
hr { border: 0; border-bottom: 1px solid transparent; height: 0; margin: -1px 0 0 0; }

/* Colour */

body { background-color: #E9ECF0; color: #344C62; } /* Lighter colour: #5D88B0 */
body > header { border-color: rgba(0, 0, 0, 0.5); }
body > footer { border-color: rgba(0, 0, 0, 0.5); }
blockquote { border-color: #93B2A0; }
h2 { border-bottom: 1px solid rgba(0, 0, 0, 0.5); color: #5D88B0; }
h3 { color: #93B2A0; }
a { color: #0000F0; }
hr { border-color: #D0D3D6; }

/* Typography */

body { font-family: sans-serif; }

p   { line-height: 24px; font-size: 16px; margin: 24px 0; }
ul  { line-height: 24px; font-size: 16px; margin: 24px 0; }
h3  { line-height: 24px; font-size: 16px; margin: 24px 0 0 0; font-weight: bold; }
h2  { line-height: 24px; font-size: 20px; margin: 24px 0; margin-left: -24px; }
h1  { line-height: 24px; font-size: 21px; margin: 120px 0 48px 0; }

em, i { font-style: italic; }
strong, b { font-weight: bold; }
a { text-decoration: underline; }
code { white-space: pre; }
sup { vertical-align: super; line-height: 0; font-size: smaller; }

ul > li::before { content: "-"; display: inline-block; width: 0; position: relative; top: 0px; left: -12px; }
ol > li { list-style-type: decimal; }

/* Misc */

[without-vertical-margins] { margin-top: 0; margin-bottom: 0; }
[without-top-margin] { margin-top: 0; }
[with-overline] { text-decoration: overline; }
[like-paragraph-text] { line-height: 24px; font-size: 16px; }
[special-tabular] { font-feature-settings: "tnum"; }
p[delete-line] { margin-top: -24px; }
div[logo] { margin: 120px 0 48px 0; }
img[logo] { display: inline-block; vertical-align: middle; height: 48px; margin: 0; }
h1[logo] { display: inline-block; vertical-align: middle; font-size: 21px; margin: 0 0 0 6px; }
img.special-bleed { margin: -12px; }
[without-underline] { text-decoration: none; }

html { -moz-text-size-adjust: none; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; text-size-adjust: none; }