/* Layout */

* { box-sizing: border-box; }
blockquote { padding-left: 23px; border-left: 1px solid transparent; }
.content-container { max-width: 720px; margin: 0 auto; }
section, main { padding-top: 48px; padding-bottom: 48px; }
hr { border: 0; border-bottom: 1px solid transparent; height: 1px; margin: 23px 0 24px 0; }

/* Colour */

body { background-color: #EFEFEF; color: #3F3F3F; }
body > header { background: #2F2F2F; }
blockquote { border-color: #93B2A0; }
h3 { color: #93B2A0; }
a { color: #0000F0; }
hr { border-color: #DFDFDF; }

/* Typography */

body { font-family: sans-serif; line-height: 24px; }

p   { font-size: 16px; }
ul  { font-size: 16px; }
h3  { font-size: 16px; font-weight: bold; }
h2  { font-size: 30px; margin: 0 0 48px 0; font-weight: lighter; }
h1  { font-size: 21px; margin: 0 0 48px 0; }

em, i { font-style: italic; }
strong, b { font-weight: bold; }
a { text-decoration: none; }
code { white-space: pre; }
sup { vertical-align: super; line-height: 0; font-size: smaller; }

ul > li::before { content: "-"; display: inline-block; width: 0; position: relative; top: 0px; left: -12px; }
ol > li { list-style-type: decimal; }

/* Misc */

div::after { content: ""; display: table; clear: both; }
table { width: 100%; table-layout: fixed; }
td { vertical-align: top; }

[without-vertical-margins] { margin-top: 0; margin-bottom: 0; }
[without-vertical-padding] { padding-top: 0; padding-bottom: 0; }
[without-top-margin] { margin-top: 0; }
[with-overline] { text-decoration: overline; }
[with-vertical-margins] { margin-top: 24px; margin-bottom: 24px; }
[with-tall-vertical-margins] { margin-top: 48px; margin-bottom: 48px; }
[like-paragraph-text] { line-height: 24px; font-size: 16px; }
[special-tabular] { font-feature-settings: "tnum"; }

p[single-line-break] { margin-top: 24px; }
p[double-line-break] { margin-top: 48px; }

div[logo] { margin: 120px 0 48px 0; }
img[logo] { display: inline-block; vertical-align: middle; height: 48px; margin: 0; }
h1[logo] { display: inline-block; vertical-align: middle; font-size: 21px; margin: 0 0 0 6px; }
img.special-bleed { margin: -12px; }
[without-underline] { text-decoration: none; }
[with-white-background] { background-color: white; }
hr[short] { width: 96px; margin: 0 auto 0 0; }
[clear] { clear: both; }
[with-bottom-border] { border-bottom: 1px solid #DFDFDF; }
[with-top-border] {border-top: 1px solid #DFDFDF; }

html { -moz-text-size-adjust: none; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; text-size-adjust: none; }