---
---

<!DOCTYPE html>
<html>
  <head>
    <title>Schindler Technologies</title>
    <meta name="viewport" content="initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/default.css">
  </head>
  <body>
    <header style="line-height: 48px;">
      <div class="content-container">
        <a href="/"><img src="/assets/logo-white.svg" style="height: 20px; vertical-align: middle; position: relative; top: -1px;"></a>
        <nav style="float: right; font-size: 11px; position: relative; top: 1px;">
          <a style="color: white;" href="/products.html">PRODUCTS</a> &nbsp;
          <a style="color: white;" href="/training.html">TRAINING</a> &nbsp;
          <a style="color: white;" href="/services.html">SERVICES</a> &nbsp;
          <a style="color: white;" href="/contact.html">CONTACT</a>
        </nav>
      </div>
    </header>

    <main with-white-background>
      <div class="content-container">
      {{ content }}
      </div>
    </main>
    
    {% include footer.html %}
  </body>
</html>